#footer{
    width: 100%;
    height: 60px;
    font-size: 25px;
    text-align: center;
    align-content: center;
    background-color: rgb(3, 13, 31);
    color: white;
}

#navbar{
    width:100%;
    height:60px;
    background-color: rgb(255, 111, 8);
    display:flex;
    justify-content:space-between;
    font-size:20px;
    font-weight:bold;
    /* padding-left:50px; */
    
}
#link{
    color:black;
} 

#link:hover{
    background-color:rgb(252, 251, 251);
    border-radius:20px;
    transform:scale(1.1)
}
#head{
    font-size:35px;
}
.insertform{
    width:500px;
    margin:auto;
    border-radius:20px;
    /* border:2px solid black; */
    padding:20px;
    box-shadow: inset 8px 8px 15px rgb(115, 155, 196),inset -8px -8px 15px rgb(115, 155, 196);;

}

#searchdata{
    margin:auto;
    width:500px;

}
.aluminiS{
    border: 2px solid rgb(247, 19, 129);
    border-radius: 10px;
    width: 380px;
    margin:auto;
    padding: 20px;
    align-items: center;
    /* text-align: center; */
    box-shadow: 5px 5px 15px orange,-5px -5px 15px orange;
}
.deleteicon{
    font-size:30px;
    color:red;
}
.editicon{
    color:blue;
    font-size:32px;
}
